# - Panorama

int - Integer/Enteros

float - Float/Flotantes (Números con Decimales)

complex - Complex/Complejos (Números con una parte real y una imaginaria)

bool - Boolean(True/False)/Booleanos(Verdadero/Falso)

str - Strings/Cadenas, Textos

### - Int - Integer/Enteros

In [10]:
my_integer = 11
print("El valor de my_integer es: ", my_integer)
print("El tipo de dato de my_integer es: ", type(my_integer))

El valor de my_integer es:  11
El tipo de dato de my_integer es:  <class 'int'>

In [12]:
my_integer = 2024
print("El valor de my_integer es: ", my_integer)
print("El tipo de dato de my_integer es: ", type(my_integer))

El valor de my_integer es:  2024
El tipo de dato de my_integer es:  <class 'int'>

In [14]:
my_integer = 57831
print("El valor de my_integer es: ", my_integer)
print("El tipo de dato de my_integer es: ", type(my_integer))

El valor de my_integer es:  57831
El tipo de dato de my_integer es:  <class 'int'>

In [16]:
# Error de Sintaxis
my_integer = 57831d
print("El valor de my_integer es: ", my_integer)
print("El tipo de dato de my_integer es: ", type(my_integer))

SyntaxError: invalid decimal literal (2274706151.py, line 2)

In [18]:
# Error de Sintaxis
my_integer = 57831@
print("El valor de my_integer es: ", my_integer)
print("El tipo de dato de my_integer es: ", type(my_integer))

SyntaxError: invalid syntax (2564065312.py, line 2)

### - Float - Float/Flotantes (Números con Decimales)

In [22]:
my_float = 11.1
print("El valor de my_float es: ", my_float)
print("El tipo de dato de my_floatr es: ", type(my_float))

El valor de my_float es:  11.1
El tipo de dato de my_floatr es:  <class 'float'>

In [24]:
my_float = 11.0
print("El valor de my_float es: ", my_float)
print("El tipo de dato de my_floatr es: ", type(my_float))

El valor de my_float es:  11.0
El tipo de dato de my_floatr es:  <class 'float'>

In [26]:
# Error de Sintaxis
my_float = 11.1h
print("El valor de my_float es: ", my_float)
print("El tipo de dato de my_floatr es: ", type(my_float))

SyntaxError: invalid decimal literal (684022271.py, line 2)

In [33]:
# Notación Cientifíca
my_float = 2e3 # 2.0 * 10 ** 3
print("El valor de my_float es: ", my_float)
print("El tipo de dato de my_floatr es: ", type(my_float))

El valor de my_float es:  2000.0
El tipo de dato de my_floatr es:  <class 'float'>

In [31]:
1.1

1.1

In [35]:
1.1e0 # 1.1 * 10 ** 0

1.1

In [41]:
1.1e1 # 1.1 * 10 ** 1

11.0

In [39]:
1.1e2 # 1.1 * 10 ** 2

110.0

In [43]:
1.1e3 # 1.1 * 10 ** 3

1100.0

In [45]:
8e-2 # 8.0 * 10 ** -2

0.08

### - Complex - Complex/Complejos (Números con una parte real y una imaginaria)
complet = x + yj

x = Parte Real

yj = Parte Imaginaria

In [50]:
my_complex = 3 + 9j
print("El valor de my_complex es: ", my_complex)
print("El tipo de dato de my_complex es: ", type(my_complex))

El valor de my_complex es:  (3+9j)
El tipo de dato de my_complex es:  <class 'complex'>

In [52]:
my_complex = 2 + 5j
print("El valor de my_complex es: ", my_complex)
print("El tipo de dato de my_complex es: ", type(my_complex))

El valor de my_complex es:  (2+5j)
El tipo de dato de my_complex es:  <class 'complex'>

### - Bool - Boolean(True/False)/Booleanos(Verdadero/Falso)

In [55]:
my_boolean = False
print("El valor de my_boolean es: ", my_boolean)
print("El tipo de dato de my_boolean es: ", type(my_boolean))

El valor de my_boolean es:  False
El tipo de dato de my_boolean es:  <class 'bool'>

In [57]:
my_boolean = True
print("El valor de my_boolean es: ", my_boolean)
print("El tipo de dato de my_boolean es: ", type(my_boolean))

El valor de my_boolean es:  True
El tipo de dato de my_boolean es:  <class 'bool'>

In [59]:
# True = 1
# False = 0

In [61]:
# 3
print(True+True+True)

3

In [63]:
# 0
print(False+False+False)

0

In [65]:
# 2
print(True+False+True)

2

In [67]:
# 1
print(True-True+True)

1

In [71]:
# -2
print(False-True-True)

-2

### - Str - Strings/Cadenas, Textos

In [74]:
my_string = "BackEnd Python"
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

El valor de my_string es:  BackEnd Python
El tipo de dato de my_string es:  <class 'str'>

In [76]:
my_string = "Curso de EBAC"
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

El valor de my_string es:  Curso de EBAC
El tipo de dato de my_string es:  <class 'str'>

In [78]:
my_string = "Aprendiendo a usar string/cadenas/textos"
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

El valor de my_string es:  Aprendiendo a usar string/cadenas/textos
El tipo de dato de my_string es:  <class 'str'>

In [84]:
# Error por Comillas simples ' '
my_string = 'You're amazing'
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

SyntaxError: unterminated string literal (detected at line 2) (3867547606.py, line 2)

In [86]:
my_string = "You're amazing"
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

El valor de my_string es:  You're amazing
El tipo de dato de my_string es:  <class 'str'>

In [88]:
# 3 Comillas Inicio y Fin (""") para una cadena de multiples líneas
my_string = """
Es una cadena con múltiples líneas \n
Como puedes ver es genial para textos más largos\n
¿Puedes imaginar cuántas cosas pdrías hacer manejando texto de Internet?
"""
print("El valor de my_string es: ", my_string)
print("El tipo de dato de my_string es: ", type(my_string))

El valor de my_string es:
Es una cadena con múltiples líneas

Como puedes ver es genial para textos más largos

¿Puedes imaginar cuántas cosas pdrías hacer manejando texto de Internet?

El tipo de dato de my_string es:  <class 'str'>

In [90]:
#

# - Variables

## ¿Qué es una variable?
- Son un espacio temporal para guardar un valor con un nombre específico
- No hay necesidad de declara el tipo de dato explícitamente
- Python es un lenguaje tipado dinámicamente, lo que quiere decir que el tipo de dato se define mientras corre el programa
- Las varibales en Python funcionan diferente que otros Lenguajes de Programación
- No necesitamos crear las variables, solo asignamos un nombre a un valor  usando el operador de asignación

## Tipos de Variables
- Varibales Globales: Aquellas que se utilizarán para todo el programa
- Varibales Locales: Aquellas que se van a utilizar solo en eun boque específico

### Variables Globales
- Declaramos variables globales afuera de funciones
- El valor de la variable puede ser constante para todo el programa
- Cualquier función podrá acceder a estas variables
- Podemos decir que las Variables Globales tienen un alcance global
- Normalmente son más usadas para constantes
- Las Variables Globales mantienen sus valores a través de la ejeción completa de tu programa
- Una Variable Global puede ser accesada por cualquier función

In [109]:
# Variable Global
my_global_variable = 50

def my_function_1():
    pass
    
def my_function_2():
    pass

In [99]:
# Variable Local
def my_function_1():
    my_local_variable = 5
    
def my_function_2():
    my_local_variable = 35

In [107]:
# Variable Global
my_global_variable = 50

def my_function_1():
    print("my_function_1 - El Valor de my_globar_variable: ", my_globar_variable)
    
def my_function_2():
    print("my_function_2 - El Valor de my_globar_variable: ", my_globar_variable)

In [103]:
my_function_1()

my_function_1 - El Valor de my_globar_variable:  50

In [105]:
my_function_2()

my_function_2 - El Valor de my_globar_variable:  50

In [113]:
# Preferencia a la Variable Local, y después a la Variable Global
my_variable = 50 # Global

def my_function_1():
    my_variable = 10 # Local
    print("my_function_1 - El Valor de my_variable: ", my_variable)
    
def my_function_2():
    my_variable = 20 # Local
    print("my_function_2 - El Valor de my_variable: ", my_variable)

def my_function_3():
    print("my_function_3 - El Valor de my_variable: ", my_variable)

In [115]:
my_function_1()

my_function_1 - El Valor de my_variable:  10

In [117]:
my_function_2()

my_function_2 - El Valor de my_variable:  20

In [119]:
my_function_3()

my_function_3 - El Valor de my_variable:  50

### Variables Locales
- Podemos usarlas dentro de una función
- Podemos tener una restricción al acceder a una variable local desde otra función
- No podemos usarlas durante todo el programa
- El alcance y visibilidad se limita al interior de la función
- Lo que dure la función será lo que dure el alcance de nuestra variable

In [123]:
# Variable Global
my_global_variable = 50

def my_function_1():
    pass
    
def my_function_2():
    pass

In [ ]:
# Variable Local
def my_function_1():
    my_local_variable = 5
    
def my_function_2():
    my_local_variable = 35

In [1]:
def my_function_1():
    my_variable = 10 # Local
    print("my_function_1 - El Valor de my_variable: ", my_variable)
    
def my_function_2():
    my_variable = 20 # Local
    print("my_function_2 - El Valor de my_variable: ", my_variable)

def my_function_3():
    print("my_function_3 - El Valor de my_variable: ", my_variable)

In [3]:
my_function_1()

my_function_1 - El Valor de my_variable:  10

In [5]:
my_function_2()

my_function_2 - El Valor de my_variable:  20

In [9]:
# Error
my_function_3()

NameError: name 'my_variable' is not defined

# - Palabra Reservada "global"

In [20]:
def my_function_1():
    my_variable = 10 # Local
    print("my_function_1 - El Valor de my_variable: ", my_variable)

# Agregamos la palabra reservada "global" para hacer que la variable se transforme
# de local a global
def my_function_2():
    global my_variable # Global
    my_variable = 20
    print("my_function_2 - El Valor de my_variable: ", my_variable)

def my_function_3():
    print("my_function_3 - El Valor de my_variable: ", my_variable)

In [22]:
my_function_1()

my_function_1 - El Valor de my_variable:  10

In [24]:
my_function_2()

my_function_2 - El Valor de my_variable:  20

In [26]:
my_function_3()

my_function_3 - El Valor de my_variable:  20

In [28]:
def my_function_1():
    my_variable = 10 # Local
    print("my_function_1 - El Valor de my_variable: ", my_variable)

# Se puede definir varias variables a globales
def my_function_2():
    global a, b, c, d, e # Global
    a = 10
    b = 20
    c = 30
    d = 40
    e = 50
    print("my_function_2 - El Valor de a es: ", a)
    print("my_function_2 - El Valor de b es: ", b)
    print("my_function_2 - El Valor de c es: ", c)
    print("my_function_2 - El Valor de d es: ", d)
    print("my_function_2 - El Valor de e es: ", e)

def my_function_3():
    print("my_function_3 - El Valor de a es: ", a)
    print("my_function_3 - El Valor de b es: ", b)
    print("my_function_3 - El Valor de c es: ", c)
    print("my_function_3 - El Valor de d es: ", d)
    print("my_function_3 - El Valor de e es: ", e)

In [30]:
my_function_1()

my_function_1 - El Valor de my_variable:  10

In [32]:
my_function_2()

my_function_2 - El Valor de a es:  10
my_function_2 - El Valor de b es:  20
my_function_2 - El Valor de c es:  30
my_function_2 - El Valor de d es:  40
my_function_2 - El Valor de e es:  50

In [34]:
my_function_3()

my_function_3 - El Valor de a es:  10
my_function_3 - El Valor de b es:  20
my_function_3 - El Valor de c es:  30
my_function_3 - El Valor de d es:  40
my_function_3 - El Valor de e es:  50

# - Tipos de Enteros
- Forma Decimal
- Forma Binaria
- Forma Octal
- Forma Hexadecimal

### - Forma Decimal
- Se cuenta de derecha a izquierda y cada posición vale por 10
- Cada posición va en aumento de 1 en 1 iniciando con el cero 0

In [39]:
my_decimal_number = 55
print("El valor de my_decimal_number es: ", my_decimal_number)

El valor de my_decimal_number es:  55

In [4]:
my_decimal_number = 456718923441
print("El valor de my_decimal_number es: ", my_decimal_number)

El valor de my_decimal_number es:  456718923441

### - Forma Binaria
- Codigo organizado en bytes
- Lenguaje Binario
- Lenguaje de las Máquinas (1 y 0)
#### Valor base: 2
- Solamente acepta dos dígitos (1 y 0)
- Usamos prefijo '0b' o '0B'

In [13]:
my_binary_number = 0b11 # 1*2**1 + 1*2**0
print("El valor de my_binary_number es: ", my_binary_number)

El valor de my_binary_number es:  3

In [15]:
my_binary_number = 0B111 # 1*2**2 + 1*2**1 + 1*2**0
print("El valor de my_binary_number es: ", my_binary_number)

El valor de my_binary_number es:  7

### - Forma Octal
#### Valor Base: 8
- Solamente acepta dígitos del 0 al 7
- Usamos el prefijo '0o' o '0O'

In [18]:
my_decimal_number = 17
print("El valor de my_decimal_number es: ", my_decimal_number)

El valor de my_decimal_number es:  17

In [20]:
my_octal_number = 0o17 # 1*8**1 + 7*8**0
print("El valor de my_octal_number es: ", my_octal_number)

El valor de my_octal_number es:  15

In [22]:
my_octal_number = 0O153 # 1*8**2 + 5*8**1 + 3*8**0
print("El valor de my_octal_number es: ", my_octal_number)

El valor de my_octal_number es:  107

### - Forma Hexadecimal
#### Valor Base: 16
- Acepta dígitos del 0 al 9
- Acepta letras de la 'A/a' a 'F/f'
- Usamos el prefijo '0x' o 0X'
- 0
- 1
- 2
- 3
- 4
- 5
- 6
- 7
- 8
- 9
- A = 10
- B = 11
- C = 12
- D = 13
- E = 14
- F = 15

In [28]:
my_decimal_number = 17
print("El valor de my_decimal_number es: ", my_decimal_number)

El valor de my_decimal_number es:  17

In [30]:
my_hex_number = 0x17 # 1*16**1 + 7*16**0
print("El valor de my_hex_number es: ", my_hex_number)

El valor de my_hex_number es:  23

In [32]:
my_hex_number = 0x1C # 1*16**1 + 12*16**0
print("El valor de my_hex_number es: ", my_hex_number)

El valor de my_hex_number es:  28